version: '3'

services:
  image-resizer:
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        window: 10s
    env_file: ./docker/image-resizer/.env
    environment:
      - LETSENCRYPT_EMAIL=dev@tripviss.com
      - LETSENCRYPT_HOST=
      - TERM
      - VIRTUAL_HOST=images.tripviss.com
    healthcheck:
      interval: 30s
      retries: 3
      timeout: 30s
    image: quay.io/tripviss/tripviss-image-proxy:image-resizer
    networks:
      - default
      - tripvissnginxproxy_default
    # ports:
    #   - '80:3001'
    restart: always
    volumes:
      - /srv/image-resizer-instance/node_modules

networks:
  default: {}
  tripvissnginxproxy_default:
    external: true
