version: '2'

services:
  # image-resizer:
  #   ports:
  #     - '80:3001'
  #   volumes:
  #     - ../image-resizer:/srv/image-resizer

  # nginx-ssl:
  #   build:
  #     context: ./docker/nginx-ssl
  #     dockerfile: ./Dockerfile
  #   env_file: ./docker/nginx-ssl/.env
  #   environment:
  #     - TERM=xterm-256color
  #   ports:
  #     - '80:80'
  #     - '443:443'
  #   volumes:
  #     - ./docker/nginx-ssl/ssl:/etc/nginx/ssl:ro
  #     - nginx-ssl-logs:/var/log/nginx

volumes:
  # nginx-ssl-logs: {}
